@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 0;
}

.banner-height {
  height: calc(100vh - 120px);
}

.footer-shadow {
  -webkit-box-shadow: 0px -6px 10px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -6px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -6px 10px -5px rgba(0, 0, 0, 0.2);
}

.nav-shadow {
  -webkit-box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.2);
}

.contact-shadow {
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
}